.container1 {
  margin-top: 4.62962962962963vw;
  padding: var(--containerPadding);
}

.schoolEvents {
  display: flex;
  flex-wrap: wrap;
  gap: 2.6455026455026456vw;
  margin-top: 4.62962962962963vw;
}

.schoolEvents div {
  margin-left: 0;
}

.schoolEvents div:nth-child(2) {
  width: 24.933862433862434vw;
}


@media only screen and (max-width: 767px) {
    .container1 {
      margin-top: calc(10.666666666666668vw + 21.333333333333336vw);
    }
  
    .schoolEvents {
      gap: 5.333333333333334vw;
    }
  
    .schoolEvents div:nth-child(2) {
      width: 82vw;
    }
  }
  