.studentSpaceCards{
  gap: 2.4455026455026456vw;
  justify-content: space-between;
}

.studentSpaceCards img {
  height: 23.14814814814815vw;
}

.studentSpaceCards div{
  width: 24.533862433862435vw;
}




@media only screen and (max-width: 767px) {
  .studentSpaceCards img {
    height: 81.06666666666666vw !important;
  }

  .studentSpaceCards div{
    width: auto;
  }
  
}
