@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&family=Nunito+Sans:opsz,wght@6..12,500;6..12,700&display=swap');

:root {
  --font-Khula: 'Khula', sans-serif;
  --font-Nunito: 'Nunito', sans-serif;
  --containerPadding: 0 9.765625vw;
  --containerMarginTop: 9.765625vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: transparent transparent;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0rem; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}

h1 {
  font-size: 4.17vw; /* Calculated for a similar visual size */
  font-weight: 600;
  font-family: var(--font-Khula);
}

h2 {
  font-size: 3.125vw; /* Calculated for a similar visual size */
  font-weight: 600;
  line-height: 3.75vw;
  font-family: var(--font-Khula);
}

h3 {
  font-size: 1.692708333333333vw; 
  font-weight: 600;
  line-height: 2.03125vw;
  font-family: var(--font-Khula);
}

h4 {
  font-size: 1.302083333333333vw;
  font-weight: 500;
  line-height: 1.8229166666666667vw;
  font-family: var(--font-Nunito);
}

p {
  font-size: 1.3020833333333335vw;
  font-weight: 500;
  font-family: var(--font-Nunito);
  color: #696969;
  font-style: normal;
  line-height: 1.8229166666666667vw;
}

a {
  font-size: 1.04vw;
  text-decoration: none;
  color: #282938;
  font-family: var(--font-Khula);
}

.active a, .active h4 {
  color: #5A1E90 ;
  font-weight: 600 ;
}



.cardHeading {
  font-size: 1.25vw; /* Calculated for a similar visual size */
  font-weight: 600;
}

.buttonText {
  font-size: 1.3020833333333335vw; /* Calculated for a similar visual size */
  font-weight: 600;
  font-family: var(--font-Khula);
  line-height: 1.5625vw;
}

.footerContent {
  font-size: 1.04vw; /* Calculated for a similar visual size */
  font-weight: 500;
}

.w-Auto{
  width: auto !important;
}

.whiteSpace{
  white-space: nowrap;
}

.btnContainer{
  height: 3.3203125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.2552083333333335vw;
  position: relative;
  overflow: hidden;
}


.btnFill .visibleWrapperContainer .bottomVisibleContainer h5{
  color: white;
}

.btnFill .visibleWrapperContainer .bottomVisibleContainer img{
  filter: brightness(1000%);
}

.rightArrow{
  width: 1.3671875vw !important;
  height: 0.9114583333333334vw !important;
}

.btnFill{
  transition: border-color 0.375s ease-out;
}

.btnFill:hover::before {
  transform: scaleX(1);
}

.btnFill:hover{
  border-color: transparent !important;
}

.btnFill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.visibleWrapperContainer{
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.topVisibleContainer,
.bottomVisibleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease !important;
  width: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topVisibleContainer {
  transform: translate(-50%, -50%);
}
.bottomVisibleContainer {
  transform: translate(-50%, 250%);
}

.btnContainer:hover .topVisibleContainer {
  transform: translate(-50%, -250%);
}

.btnContainer:hover .bottomVisibleContainer {
  transform: translate(-50%, -50%);
}

.listHoverTop, 
.listBottomHover{
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  transition: transform 0.6s ease;
}

.listHoverTop{
  transform: translate(0%, -0%);
}

.listHoverBottom{
  transition: transform 0.6s ease;
  transform: translate(0%, 250%);
}

.visibleWrapperContainer:hover .listHoverTop {
  transform: translate(0%, -250%);
}

.visibleWrapperContainer:hover  .listHoverBottom {
  transform: translate(0%, 0%);
}

/* Header Start */

.mHeader{
  display: none;
}

.hContainer{
  display: flex;
  width: 100%;
  padding: 0 7.8125vw;
  align-items: center;
  background: #F6F6F9;
  justify-content: space-between;
}

.logoContainer{
  margin-right: 8.138020833333332vw;
}

.logoContainer img{
  width: 8.463541666666668vw;
  height: 6.575520833333333vw;
}

.hMenu{
  display: flex;
  gap: 1.953125vw;
}

/* Header End */

/* Hero Start */

.heroContianer{
  position: relative;
  width: 100vw;
  height: 45.57291666666667vw;
}

.heroContianer img{
  width: 100vw ;
  height: 45.57291666666667vw ;
}

.heroTitle{
  color: #FFF;
  text-align: center;
  font-style: normal;
  line-height: 5vw; 
  text-transform: capitalize;

  /* width: 35%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hero Start */


/* Container2 Start */
.container2{
  margin-top: 6.510416666666667vw;
  padding: var(--containerPadding)
}

.benefitsTopBox{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.benefitsDesc{
  width: 38.15104166666667vw;
  padding-bottom: 1.3020833333333335vw;
}

.secondCol{
  position: relative;
  display: flex;
}

.secondCol div{
  width: 0.32552083333333337vw;
  height: 3.90625vw;
  background: #5A1E90;
  margin-right: 1.3020833333333335vw;
  /* margin-bottom: 1px; */
}

.benefitBottomBox{
  margin-top: 6.510416666666667vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.604166666666667vw;
}

.cardContainer{
  width: 24.544270833333336vw;
  height: 13.997395833333334vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3020833333333335vw;
}

.cardIcon{
  width: 4.557291666666666vw !important;
  height: 4.557291666666666vw !important;
}

.cardContent h3{
  margin-bottom: 0.6510416666666667vw;
}

/* Container2 End */

/* Container3 Start */

.container3{
  margin-top: 8.463541666666668vw;
  background: #F6F6F9;
  padding: var(--backgroundContainerPadding);
  
  display: flex;
  gap: 3.90625vw;
}

.aboutImage {
  width: 39.453125vw !important;
  height: 29.947916666666668vw !important;
}

/* Container3 End */


/* Container4 Start */

.container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
}

.container4Contents{
  width: 38.15104166666667vw;
}

.container4CardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 2.604166666666667vw;

  margin-top: 4.557291666666666vw;
}

.imageCard{
  border-radius: 1.3020833333333335vw;
  position: relative;

  display: flex;
  justify-content: center;
}

.imageCardBackground{
  width: 24.544270833333336vw;
  height: 24.544270833333336vw;
  border-radius: 1.3020833333333335vw;
}

.imageCardContent{
  position: absolute;
  bottom: 1.3020833333333335vw;
  margin: 0 auto;
  width: 21.940104166666664vw;
}

.imageCard .imageCardContent p {
  display: none;
}

.imageCard:hover .imageCardContent p{
  display: block;
}

.imageCardContent h3{
  color: #fff;
  text-align: center;
}

/* Container4 End */

/* Container5 Start */
.container5{
  margin-top: var(--containerMarginTop);
  /* margin-bottom: 9.765625vw; */
  padding: var(--backgroundContainerPadding);
  background: #F6F6F9;  
}

/* Carousel.module.css */


.topContainer5{
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.carouselWrapper{
  width: 100vw;
  overflow: hidden;
  margin-top: 4.557291666666666vw;
}

.carousel {
  position: relative;
  /* overflow: hidden; */
  /* height: 29.34375vw; */
  display: flex;
  z-index: 0;
  gap: 1.3020833333333335vw;

}

.imageContainer {
  transition: transform 0.5s ease;
  margin-left: 1.953125vw;
}

.imageContainer img {
  width: 24.544270833333336vw;
  height: 27.34375vw;
  border-radius: 1.3020833333333335vw;
}

.relative{
  position: relative;
}

.imageFrame{
  border: 1px solid #5A1E90;
  width: 24.544270833333336vw;
  height: 27.34375vw;
  position: absolute;
  top: 1.3020833333333335vw;
  right: 1.3020833333333335vw;
  z-index: -1;
  border-radius: 1.3020833333333335vw;
}

.carouselButtonContainer{
  display: flex;
  gap: 1.3020833333333335vw;
}

.carouselButtonContainerLeft{
  width: 3.90625vw;
  height: 3.90625vw;
  background-color: #EFE9F4;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2552083333333335vw;
  cursor: pointer;
}

.carouselButtonContainerRight{
  width: 3.90625vw;
  height: 3.90625vw;
  background-color: #EFE9F4;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2552083333333335vw;
  cursor: pointer;

}

.carouselHover{
  align-self: flex-end;
  transition: background-color 0.5s ease, filter 0.4s ease;
}

.carouselHover:hover{
  background-color: #5A1E90;
}

.carouselHover:hover img{
  filter: brightness(1000%);
}

.carouselButtonContainerLeft img{
  height: 1.171875vw;
  
}

.carouselButtonContainerRight img{
  height: 1.171875vw;
  
}

.bannerImage{
  height: 42.31770833333333vw;
  position: relative;
}

.bannerImage img{
  height: 42.31770833333333vw;
}

.bannerImage .absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container5 End */

/* Container6 Start */

.container6{
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studentSpaceImageContainerGrid{
  margin-top: 4.557291666666666vw;
  display: grid;
  gap: 2.604166666666667vw;
  grid-template-columns: 29.752604166666668vw 21.940104166666664vw 21.940104166666664vw ;
}

.item{
  border-radius: 1.3020833333333335vw;
  position: relative;
}

.item .imageCardContent{
  /* display: none; */
  width: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s ease;

}

.item:hover .imageCardContent{
  transform: scaleY(1);
}

.item img{
  width: 100%;
  height: 100%;
  border-radius: 1.3020833333333335vw;
}

.item1 img{
  height: 48.828125vw;
}

.item1 {
  grid-row: span 2;
}

.item2,
.item3,
.item4 {
  grid-row: span 1;
}

/* Container6 End */

.schoolEvent{
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  margin-top: 1.953125vw;
  width: auto;
}

.schoolEvent h3{
  color: #282938;
  text-align: left;
}

.dateAndRoundPoint{
  display: flex;
  gap: 0.6510416666666667vw;
  align-items: center;
  padding-bottom: 1.3020833333333335vw;
}

.schoolEvent .point{
  width: 1.3020833333333335vw;
  height: 1.3020833333333335vw;
  background-color: #5A1E90;
  border-radius: 50%;
}

/* Container8 Start */

.container8{
  margin-top: var(--containerMarginTop);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--containerPadding);
}

.blogsContentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogsCardContent .dateAndRoundPoint{
  width: 13.997395833333334vw;
  height: 3.125vw;
  justify-content: center;
  background-color: #5A1E90;
  border-radius: 6.510416666666667vw;
  padding: 0;
  margin-bottom: 1.3020833333333335vw;
}

.blogsCardContent h3{
  margin-bottom: 0.6510416666666667vw;
}

/* Container8 End */

/* Container9 Start */

.container9{
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
}

.container9Contact{
  background-color: #5A1E90;
  border-radius: 1.953125vw;

  width: 78.90625vw;
  height: 26.041666666666668vw;
  position: relative;
}

.container9Contact .hImage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77.79947916666666vw;
  height: 12.630208333333334vw;
}

.container9Content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container8 End */

/* Container9 Start */

.footer{
  margin-top: var(--containerMarginTop);
  padding: var(--containerPadding);
  padding-top: 5.208333333333334vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5.729166666666666vw;
  background-color: #282938;

  height: 30.143229166666668vw;
}

.footer .logo {
  width: 9.700520833333332vw;
  height: 7.877604166666667vw;

  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6510416666666667vw;
}

.logo img{
  width: 8.3984375vw;
  height: 6.575520833333333vw;
}

.footer div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6510416666666667vw;
}

.footer h3{
  color: #fff;
  margin-bottom: 0.6510416666666667vw;
  line-height: 2.03125vw;
}

.footer a{
  color: rgba(255, 255, 255, 0.60);
  font-size: 1.3020833333333335vw;
  font-weight: 500;
  line-height: 1.8229166666666667vw;
  white-space: nowrap;
  cursor: pointer;
}

.footer .footerContactUs{
  gap: 0.9765625vw;
}

.footer .footerIconContainer{
  display: flex;
  flex-direction: row;
  gap: 0.6510416666666667vw;
  justify-content: center;
  align-items: center;
}

.footer .footerIconContainer div{
  width: 2.604166666666667vw;
  height: 2.604166666666667vw;
  border-radius: 1.3020833333333335vw;
  position: relative;

  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.10);
  cursor: pointer;
}

.footerIcon{
  width: 1.0416666666666665vw;
  height: 1.0416666666666665vw;
}

.footer .socialIconsContainer{
  flex-direction: row;
  gap: 0.9765625vw;
}

.footer .socialIconsContainer .socialMediaIconContainer{
  width: 2.604166666666667vw;
  height: 2.604166666666667vw;
  border-radius: 1.3020833333333335vw;
  position: relative;

  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.10);
  cursor: pointer;
}

.footer .socialIconsContainer .socialMediaIconContainer:hover{
  background: black;
}

/* Container9 End */

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 9.6vw; 
    font-weight: 600;
    font-family: var(--font-Khula);
  }
  
  .heroTitle{
    line-height: 11.520000000000001vw;
    width: 87.2vw;
  }
  
  h2 {
    font-size: 6.4vw; 
    font-weight: 600;
    line-height: 7.680000000000001vw;
    font-family: var(--font-Khula);
    width: 83.2vw !important;
    padding-bottom: 2.666666666666667vw !important;
  }
  
  h3 {
    font-size: 4.8vw; 
    font-weight: 600;
    line-height: 5.760000000000001vw;
    font-family: var(--font-Khula);
    padding-bottom: 1.3333333333333335vw !important;
  }
  
  h4 {
    font-size: 3.733333333333334vw;
    font-weight: 500;
    line-height: 7.466666666666668vw;
    font-family: var(--font-Nunito);
    padding-bottom: 1.3333333333333335vw !important;
  }
  
  p {
    font-size: 3.733333333333334vw;
    font-weight: 500;
    font-family: var(--font-Nunito);
    color: #696969;
    font-style: normal;
    line-height: 5.226666666666667vw;
    width: 87.2vw !important;
  }
  
  a {
    font-size: 1.04vw;
    text-decoration: none;
    color: #282938;
    font-family: var(--font-Khula);
  }

  .buttonText{
    font-size: 3.733333333333334vw;
    line-height: 4.4799999999999995vw;
  }

  .btnContainer{
    width: 35.46666666666667vw !important;
    height: 9.866666666666667vw;
    border-radius: 13.333333333333334vw;
  }



  .hContainer{
    display: none;
  }

  .heroContianer{
    height: 160vw;
    margin-top: 21.333333333333336vw;
  }

  .heroContianer img{
    object-position: -200px; 
    height: 160vw;
    object-fit: cover;
  }

  .container2{
    margin-top: 10.666666666666668vw;
    padding: 0 6.4vw;
  }

  .benefitsTopBox{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .benefitBottomBox{
    margin-top: 6.666666666666667vw;
    gap: 5.333333333333334vw;
  }

  .cardContainer{
    width: 41.6vw;
    width: 40.5vw;
    height: 45.86666666666667vw;
    gap: 0;
  }

  .cardIcon{
    width: 13.333333333333334vw !important;
    height: 13.333333333333334vw !important;
    margin-bottom: 4vw;
    margin-top: 1.3333333333333335vw;
  }

  .cardContent p{
    width: 41.6vw !important;
  }
  
  .secondCol div{
    display: none;
  }
  .container3{
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileBackgroundContainerPadding);

    flex-direction: column;
    gap: 10.666666666666668vw;
  }

  .aboutImage{
    width: 87.2vw !important;
    height: 66.192vw !important;
  }

  .aboutContent{
    order: -1;
  }

  .aboutContent .btnContainer{
    margin-top: 4vw !important;
  }

  .rightArrow{
    width: 4vw !important;
    height: 2.666666666666667vw !important;
    object-position: initial !important;
  }

  .container4{
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
  }

  .container4Contents{
    width: auto;
  }

  .container4Contents h2, p{
    width: auto !important;
  }

  .container4CardContainer{
    margin-top: 8vw;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
  }

  .imageCardBackground{
    width: 66.66666666666666vw;
    height: 66.66666666666666vw;
    border-radius: 2.666666666666667vw;
  }

  .imageCardContent{
    width: 100%;
  }

  .imageCardContent h3{
    width: 100%;
  }

  .container4 .btnContainer{
    margin-top: 8vw !important;
  }

  .container5{
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileBackgroundContainerPadding);
  }

  .container5 .carouselWrapper{
    margin-top: 0;
  }

  .mainContainer7{
    padding-top: 41.6vw;
  }

  .container5 .topContainer7{
    display: none;
  }

  .carouselButtonContainer{
    display: none;
  }

  .carouselWrapper{
    margin-top: 7.199999999999999vw;
    height: 74.9vw !important;
    width: auto;
    overflow-x: scroll;
    padding-bottom: 0.5333333333333333vw;
  }

  .carousel{
    gap: 4vw;
  }

  .imageContainer{
    margin-left: 4vw;
  }

  .imageContainer img{
    width: 62.66666666666667vw ;
    height: 70.39999999999999vw ; 
    border-radius: 2.666666666666667vw;
  }

  .imageFrame{
    width: 62.66666666666667vw ;
    height: 70.39999999999999vw ;
    right: 3.802083vw;
    top: 3.802083vw;
  }

  .topContainer5 h4 h2{
    text-align: center;
  }

  .imageContainer .imageCardContent {
    width: 65%;
  }
  
  .faciliteiesBannerContainer5{

  }

  .faciliteiesBannerContainer5 .heroContianer .hImage{
    object-position: -140.333333vw; 
    height: 160vw;
    object-fit: cover;
  }

  .faciliteiesBannerContainer5 .absolute h2{
    padding-bottom: 4vw !important;
  }

  .container6{
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
  }

  .studentSpaceImageContainerGrid{
    grid-template-columns: 66.66666666666666vw 66.66666666666666vw 66.66666666666666vw 66.66666666666666vw 66.66666666666666vw;;
    overflow-x: scroll;
    width: 100%;
    gap: 4vw;
  }

  .item img{
    height: 63.303733333333334vw;
    width: 66.66666666666666vw;
    border-radius: 2.666666666666667vw;
  }

  .studentSpaceImageContainerGrid .item{
    grid-row: auto;
  }

  .container5 .btnContainer{
    margin-top: 8vw !important;
  }

  .container6 .btnContainer{
    margin-top: 8vw !important;
  }

  .container7 .btnContainer{
    margin-top: 8vw !important;
  }
  
  .container8 .btnContainer{
    margin-top: 8vw !important;
  }

  .container7{
    height: auto !important;
  }

  .container7 .relative img{
    width: 66.66666666666666vw;
    height: 56.5872vw !important;
  }

  .container7 .schoolEvent{
    width: auto;
  }

  .container7 .carousel .imageContainer{
    margin-left: 0;
  }


  .container8{
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
  }

  .blogsContentContainer p{
    padding: 0 !important;
  }

  .container8 .carousel{
    margin-top: 8vw !important;
    width: 100%;
    overflow-x: scroll;
  }

  .container8 .relative img{
    width: 66.66666666666666vw !important;
    height: 56.5872vw !important;
  }

  .container8 .blogsCardContent{
    width: 100%;
  }

  .blogsCardContent .dateAndRoundPoint {
    width: 40vw;
    height: 7.466666666666668vw;
    margin-bottom: 2.666666666666667vw;
  }

  .container9{
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
  }

  .container9Contact{
    width: 87.2vw;
    height: 81.06666666666666vw;
    border-radius: 5.333333333333334vw;
  }

  .container9Contact .btnContainer{
    margin-top: 4vw !important;
  }

  .container9Contact .hImage{
    top: 75%;
    width: 87.2vw;
    height: 14.399999999999999vw;
  }

  .footer{
    margin-top: var(--mobileContainerMarginTop);
    padding: var(--mobileContainerPadding);
    padding-top: 8vw;
    grid-template-columns: 1fr;
    grid-template-rows: 16vw 29.86666666666667vw 40.8vw 16.53333333333333vw 22.400000000000002vw;
    height: 165.6vw;
    gap: 8vw;
  }

  .footer .quickLinks{
    height: 29.86666666666667vw;
  }

  .footer .quickLinks div{
    display: flex;
    flex-wrap: wrap;
    height: 21.333333333333336vw;
  }

  .footer .quickLinks a{
    width: 21.333333333333336vw;
  }

  .footer h3{
    line-height: 5.760000000000001vw;
  }

  .footer a{
    font-size: 3.733333333333334vw;
    line-height: 5.226666666666667vw;
  }

  .footer div{
    gap: 2vw;
  }

  .footer .logo{
    width: 19.7024vw;
    height: 16vw;
  }

  .footer .logo img{
    width: 17.057866666666666vw;
    height: 13.355466666666665vw;
  }

  .footer .socialIconsContainer{
    gap: 2.666666666666667vw;
  }

  .footer .footerContactUs {
    gap: 2.666666666666667vw;
  }

  .footer .footerIconContainer{
    gap: 2.666666666666667vw;
  }

  .footer .footerIconContainer div {
    width: 8vw;
    height: 8vw;
    border-radius: 13.333333333333334vw;
  }

  .footerIcon{
    width: 3.2vw;
    height: 3.2vw;
  }

  
  .footer .socialIconsContainer .socialMediaIconContainer {
    width: 8vw;
    height: 8vw;
    border-radius: 13.333333333333334vw;
  }

  hr{
    margin: 4vw auto 5.333333333333334vw auto;
    width: 100%;
    height: 1px;
  }


  .mHeader{
    display: flex;
    padding: var(--mobileContainerPadding);
    height: 65px;
    align-items: center;
  }

  .fixedmHeadContainer{
    width: 100%;
  }

  .mHeader button{
    width: 10.666666666666668vw;
    height: 10.666666666666668vw;
  }

  .hMenu{
    flex-direction: column;
    align-items: flex-end;
  }

  .hMenu h4{
    font-size: 3.733333333333334vw;
  }

}