:root {
  --font-Khula: 'Khula', sans-serif;
  --font-Nunito: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
  width: 0rem; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}

h1 {
  font-size: 4.17vw; /* Calculated for a similar visual size */
  font-weight: 600;
  font-family: var(--font-Khula);
}

h2 {
  font-size: 3.125vw; /* Calculated for a similar visual size */
  font-weight: 600;
  line-height: 3.75vw;
  font-family: var(--font-Khula);
}

h3 {
  font-size: 1.692708333333333vw; 
  font-weight: 600;
  line-height: 2.03125vw;
  font-family: var(--font-Khula);
}

h4 {
  font-size: 1.302083333333333vw;
  font-weight: 400;
  line-height: 1.8229166666666667vw;
  font-family: var(--font-Nunito);
}

p {
  font-size: 1.3020833333333335vw;
  font-weight: 500;
  font-family: var(--font-Nunito);
  color: #696969;
  font-style: normal;
  line-height: 1.8229166666666667vw;
}

a {
  font-size: 1.04vw;
  text-decoration: none;
  color: #282938;
  font-family: var(--font-Khula);
}

.active a, .active h4 {
  color: #5A1E90 ;
  font-weight: 600 ;
}



.cardHeading {
  font-size: 1.25vw; /* Calculated for a similar visual size */
  font-weight: 600;
}

.buttonText {
  font-size: 1.3020833333333335vw; /* Calculated for a similar visual size */
  font-weight: 600;
  font-family: var(--font-Khula);
  line-height: 1.5625vw;
}

.footerContent {
  font-size: 1.04vw; /* Calculated for a similar visual size */
  font-weight: 500;
}

.w-Auto{
  width: auto !important;
}

.whiteSpace{
  white-space: nowrap;
}

.btnContainer{
  height: 3.3203125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.2552083333333335vw;
  position: relative;
  overflow: hidden;
}


.btnFill .visibleWrapperContainer .bottomVisibleContainer h5{
  color: white;
}

.btnFill .visibleWrapperContainer .bottomVisibleContainer img{
  filter: brightness(1000%);
}

.rightArrow{
  width: 1.3671875vw !important;
  height: 0.9114583333333334vw !important;
}

.btnFill{
  transition: border-color 0.375s ease-out;
}

.btnFill:hover::before {
  transform: scaleX(1);
}

.btnFill:hover{
  border-color: transparent !important;
}

.btnFill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.visibleWrapperContainer{
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.topVisibleContainer,
.bottomVisibleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease !important;
  width: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topVisibleContainer {
  transform: translate(-50%, -50%);
}
.bottomVisibleContainer {
  transform: translate(-50%, 250%);
}

.btnContainer:hover .topVisibleContainer {
  transform: translate(-50%, -250%);
}

.btnContainer:hover .bottomVisibleContainer {
  transform: translate(-50%, -50%);
}

.listHoverTop, 
.listBottomHover{
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  transition: transform 0.6s ease;
}

.listHoverTop{
  transform: translate(0%, -0%);
}

.listHoverBottom{
  transition: transform 0.6s ease;
  transform: translate(0%, 250%);
}

.visibleWrapperContainer:hover .listHoverTop {
  transform: translate(0%, -250%);
}

.visibleWrapperContainer:hover  .listHoverBottom {
  transform: translate(0%, 0%);
}

/* Header Start */

.hContainer{
  display: flex;
  width: 100%;
  padding: 0 7.8125vw;
  align-items: center;
  background: #F6F6F9;
  justify-content: space-between;
}

.logoContainer{
  margin-right: 8.138020833333332vw;
}

.logoContainer img{
  width: 8.463541666666668vw;
  height: 6.575520833333333vw;
}

.hMenu{
  display: flex;
  gap: 1.953125vw;
}

/* Header End */

/* Hero Start */

.heroContianer{
  position: relative;
  width: 100vw;
  height: 45.57291666666667vw;
}

.heroContianer img{
  width: 100vw !important;
  height: 45.57291666666667vw !important;
}

.heroTitle{
  color: #FFF;
  text-align: center;
  font-style: normal;
  line-height: 5vw; 
  text-transform: capitalize;

  /* width: 35%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hero Start */


/* Container2 Start */
.container2{
  margin-top: 6.510416666666667vw;
  padding: 0 9.765625vw;
}

.benefitsTopBox{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.benefitsDesc{
  width: 38.15104166666667vw;
  padding-bottom: 1.3020833333333335vw;
}

.secondCol{
  position: relative;
  display: flex;
}

.secondCol div{
  width: 0.32552083333333337vw;
  height: 3.90625vw;
  background: #5A1E90;
  margin-right: 1.3020833333333335vw;
  /* margin-bottom: 1px; */
}

.benefitBottomBox{
  margin-top: 6.510416666666667vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.604166666666667vw;
}

.cardContainer{
  width: 24.544270833333336vw;
  height: 13.997395833333334vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3020833333333335vw;
}

.cardIcon{
  width: 4.557291666666666vw !important;
  height: 4.557291666666666vw !important;
}

.cardContent h3{
  margin-bottom: 0.6510416666666667vw;
}

/* Container2 End */

/* Container3 Start */

.container3{
  margin-top: 8.463541666666668vw;
  background: #F6F6F9;
  padding: 6.510416666666667vw 9.765625vw;
  
  display: flex;
  gap: 3.90625vw;
}

.aboutImage {
  width: 39.453125vw !important;
  height: 29.947916666666668vw !important;
}

/* Container3 End */


/* Container4 Start */

.container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9.765625vw;
  padding: 0 9.765625vw;
}

.container4Contents{
  width: 38.15104166666667vw;
}

.container4CardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 2.604166666666667vw;

  margin-top: 4.557291666666666vw;
}

.imageCard{
  border-radius: 1.3020833333333335vw;
  position: relative;

  display: flex;
  justify-content: center;
}

.imageCardBackground{
  width: 24.544270833333336vw;
  height: 24.544270833333336vw;
  border-radius: 1.3020833333333335vw;
}

.imageCardContent{
  position: absolute;
  bottom: 1.3020833333333335vw;
  margin: 0 auto;
  width: 21.940104166666664vw;
}

.imageCard .imageCardContent p {
  display: none;
}

.imageCard:hover .imageCardContent p{
  display: block;
}

.imageCardContent h3{
  color: #fff;
  text-align: center;
}

/* Container4 End */

/* Container5 Start */
.container5{
  margin-top: 9.765625vw;
  /* margin-bottom: 9.765625vw; */
  padding: 6.510416666666667vw 9.765625vw;
  background: #F6F6F9;  
}

/* Carousel.module.css */

.carouselContainer {
  display: flex;
  justify-content: center;
  margin-top: 4.557291666666666vw;
}

.topContainer5{
  display: flex;
  justify-content: space-between;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 29.34375vw;
}

.imageContainer {
  display: flex;
  transition: transform 0.5s ease;
  gap: 3.90625vw;
  margin-left: 1.953125vw;
}

.imageContainer img {
  width: 24.544270833333336vw;
  height: 27.34375vw;
  border-radius: 1.3020833333333335vw;
}

.relative{
  position: relative;
}

.imageFrame{
  border: 1px solid #5A1E90;
  width: 24.544270833333336vw;
  height: 27.34375vw;
  position: absolute;
  top: 1.3020833333333335vw;
  right: 1.3020833333333335vw;
  z-index: -1;
  border-radius: 1.3020833333333335vw;
}

.carouselButtonContainer{
  display: flex;
  gap: 1.3020833333333335vw;
}

.carouselButtonContainerLeft{
  width: 3.90625vw;
  height: 3.90625vw;
  background-color: #EFE9F4;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2552083333333335vw;
  cursor: pointer;
}

.carouselButtonContainerRight{
  width: 3.90625vw;
  height: 3.90625vw;
  background-color: #EFE9F4;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2552083333333335vw;
  cursor: pointer;

}

.carouselHover{
  align-self: flex-end;
  transition: background-color 0.5s ease, filter 0.4s ease;
}

.carouselHover:hover{
  background-color: #5A1E90;
}

.carouselHover:hover img{
  filter: brightness(1000%);
}

.carouselButtonContainerLeft img{
  height: 1.171875vw;
  
}

.carouselButtonContainerRight img{
  height: 1.171875vw;
  
}

.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .buttons button:nth-child(2):active + .imageContainer {
  transform: translateX(-24.544270833333336vw);
}

.buttons button:nth-child(1):active + .imageContainer {
  transform: translateX(24.544270833333336vw);
} */


/* Container5 End */